<%layout("/layout/boilerplate")%>
  <div class="card mb-3 m-5">
    <img src="<%=data_found_in_db.url%>" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="edit_container">
        <h5 class="card-title">
          <%=data_found_in_db.city%>
        </h5>
        <p class="card-text">
          <%=data_found_in_db.descreption%>
        </p>
        <%if(currentUser && currentUser._id.equals(data_found_in_db.owner._id)){%>
        <a href="/product/<%=data_found_in_db._id%>/edit">Edit</a>
        <%}%>
      </div>
      <div class="delete_container">
        <p class="card-text">
          <%=data_found_in_db.address2%>
        </p>
        <p class="card-text">
          <%=data_found_in_db.state%>
        </p>
         <p class="card-text">
           Owner : <%=data_found_in_db.owner.username%>
        </p>
        <%if(currentUser && currentUser._id.equals(data_found_in_db.owner._id)){%>
        <form action="/product/<%=data_found_in_db._id%>?_method=DELETE" method="POST">
          <p class="card-text"><button class="btn btn-outline-primary">Delete</button></p>
        </form>
        <%}%>
      </div>
    </div>
    <hr>
    <%if(currentUser){%>
    <form action="/product/review/<%=data_found_in_db._id%>" method="post">
      <div class="rating_container m-5">
        <label for="range" class="form-label">Rating :</label>
        <input type="range" class="form-range" min="1" max="5" step="1" id="range" name="listing[rating]" required>
        <label for="comment" class="form-label">Comment :</label>
        <textarea class="form-control" aria-label="With textarea" id="comment" name="listing[comment]"></textarea>
        <br>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </div>
    </form>
    <%}%>
    <hr>  
  <div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h3>Rating : <%=avg_rating%> </h3>
    </div>
  </div>
</div>
<br>
<br>

    <h4 class="review_heading">What people say :</h4>
    <div class="review_container">
      
    <%for(review of data_found_in_db.reviews){%>
  
             <div class="review_message_container">
              <h5><%=review.author.username%>   &nbsp;&nbsp;<%=review.rating%> Star</h5>
              <p><%=review.comment%></p>
              <%if(currentUser && review.author._id.equals(currentUser._id)){%>
              <form  method="POST" action="/product/review/<%=data_found_in_db._id%>/<%=review._id%>?_method=DELETE">
              <button class="btn btn-outline-primary">Delete</button>
              </form>
              <%}%>
             </div>
      <%}%>
  </div>